html {
  font-size: 10px;
  font-family: sans-serif;
  background-color: #FFF9EA;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #542908;
}

/* body::before {
  content: "";
  background-image: url('../assets/images/pattern.jpg');
  position: absolute;
  background-repeat: repeat;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.08;
} */

@font-face {
  font-family: "GrandHotel";
  src: url(../assets/fonts/GrandHotel-Regular.ttf);
}

@font-face {
  font-family: "Cookie";
  src: url(../assets/fonts/Cookie-Regular.ttf);
}

h1 {
  font-family: "Cookie";
  color: #482307;
}

.title {
  font-size: 54pt;
}

.subtitle {
  font-size: 24pt;
  font-weight: bold;
  color: #A1724E;
}

.sub_subtitle {
  color: #A1724E;
  font-size: 14pt;
  font-weight: 400;
}

.button {
  color: white;
  background-color: #E15549;
  display: inline-block;
  padding: 1rem;
  outline: none;
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 .5rem;
  border-radius: 5px;
  font-weight: bold;
}

.inpub_box { 
  background-color: #542908;
  border-radius: 5px;
  margin: 2rem auto;
}

.inpub_box div { 
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.inpub_box h2 { 
  color: white;
  padding: 1rem;
  background-color: #482307;
  border-radius: 5px 5px 0 0 ;
}

input[type="text"] { 
  background-color: #eba254fd;
  width: 60%;
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #482307;
  font-weight: bold; 
}

input[type="text"]::placeholder { 
  color: #90460d;
}

input[type="text"]::-ms-input-placeholder { 
  color: #90460d;
}

button:hover { 
  cursor: pointer;
}

#totalSupply {
  display: inline-block;
  color: white;
  background-color: #482307;
  display: inline-block;
  padding: 1rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18pt;
  margin: 4rem auto;

}

.buytoken_button { 
  margin: 2rem 0 0 0;
  padding: 1rem 5rem;
  font-size: 18pt;
}

.small_text { 
  font-size: 10pt;
}

.pill {
  background-color: #A1724E;
  color: white;
  padding: .3rem;
  border-radius: 4px;
}

.separate { 
  margin: 4rem 0;
  display: inline-block;
}

footer h2 { 
  color: #482307;
}
* {
  margin: 0;
  padding: 0;
}

#App {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  --primary-color: #1266cc;
  --secondary-color: #f96400;
  --flash-color: rgb(89, 255, 0);
  --gray: #999;
  --light-gray: #e0e0e0;
  --dark-gray: #777;

}

#App .container {
  width: 40%;
  min-width: 60rem;
  max-width: 75rem;
  height: 100%;
}

code {
  display: block;
  white-space: pre-wrap;
  padding: 1.2rem 2rem;
  border-radius: 1rem;
  background-color: var(--light-gray);
  font-size: 1.4rem;
}

code span {
  transition: all 0.3s;
}

code span.primary-color {
  color: var(--primary-color);
}

code span.secondary-color {
  color: var(--secondary-color);
}

code span.dim-color {
  color: var(--gray);
}

code span.flash {
  background-color: var(--flash-color);
}

details {
  margin: 1.6rem 0;
  padding: 0.5rem 2rem 0.5rem 0;
  border: 1px solid var(--light-gray);
  border-radius: 1rem;
}

details :not(summary, span) {
  margin-left: 2.55rem;
}

details summary {
  padding: 1.2rem;
  cursor: pointer;
}

p,
details code {
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}

p {
  line-height: 2.6rem;
}

p span.code {
  font-family: monospace;
  color: var(--gray);
}

hr {
  margin: 4rem 0;
}

#App .container .welcome h1 {
  padding-top: 7.5rem;
  font-size: 2.6rem;
}

#App .container .demo .contract-container {
  display: flex;
}

#App .container .demo .contract-container code {
  min-width: 42rem;
  border-radius: 1rem 0 0 1rem;
}

#App .container .demo .contract-container .btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1rem;
  background-color: var(--gray);
  border-radius: 0 1rem 1rem 0;
}

#App .container .demo .contract-container .btns>* {
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  background-color: var(--light-gray);
  border: none;
  font-size: 1.2rem;
  font-family: monospace;
  cursor: pointer;
}

#App .container .demo .contract-container .btns>*:hover {
  background-color: var(--dark-gray);
}

#App .container .demo .contract-container .btns .input-btn input {
  width: 4rem;
  text-align: center;
  font-family: monospace;
  font-size: 1.2rem;
}

#App .container footer {
  padding-bottom: 7.5rem;
}

#App .container footer a {
  display: inline-block;
  margin: 2rem 1rem 0 0;
}